name: Gradle Test
# Only execute this workflow when a PR is opened or when something is pushed to a the master branch
on:
  push
jobs:
  testBuilds:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        java-version: [8,11,16]
    # Setup OS 
    runs-on: ubuntu-latest
    steps:
    # Checkout code
    - name: Checkout Code
      uses: actions/checkout@v2
    # Setup java and maven
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v2
      with:
        distribution: adopt
        java-version: ${{ matrix.java-version }}
    # Setup executable gradle
    - name: Make Gradle executable
      run: chmod +x gradlew
    # Run gradle test
    - name: Run Gradle Test with Java ${{ matrix.java-version }}
      run: ./gradlew test
    # Test bulding without javadocs
    - name: Build Jar with Java ${{ matrix.java-version }}
      run: ./gradlew build --no-daemon --no-build-cache --no-scan -x javadoc