name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - run: mkdir -p ./artifacts
    - run: cp target/SuperCoreAPI.jar ./artifacts/
    - uses: actions/upload-artifact@v2
      with:
        name: SuperCoreAPI
        path: ./artifacts/SuperCoreAPI.jar
      
